[2022-04-08 16:44] sebw opened #1244 "Vulnerability report has found zero vulnerabilities"
I'm running a ~daily~ weeky report at 2am and send by email.

There are 2 problems:

- the logo is Red Hat Advanced Security for Kubernetes
- the report says there are no found vulnerabilities

[2022-04-11 11:16] Maddosaurus commented on #1244
Hi @sebw and thank you for filing that issue!
The report logo is a great catch, let me relay this to the appropriate team!

To assist in tracking down the other issue, it would be great if you could provide us a bit of context:
- Do you have active new violations that the report should include?
- What version of StackRox are you running? Have you deployed from master or pulled Docker images?
- Whi

[2022-04-11 15:36] sebw commented on #1244
Hi @Maddosaurus

I run `3.69.x-nightly-20220402` on k3s `v1.22.5+k3s1`. I know k3s is not supported but a quick hack to one of the install script and I could get it installed, and besides reporting everything works as expected!

There are a couple of new violations that poped up I think, but I run a report that is supposed to show all vulnerabilities, and not only the new ones.

This is the config

[2022-04-15 10:50] GitLabOps opened #1321 "Local Image Scan in Build Phase"
Greetings!
I want to thank all the contributors to the project for the excellent work!
I have a question:
How can the image be scanned and/or checked for consistency locally in the pipeline during the build phase?

I would like to scan the newly created image in ci/cd pipeline without using registry publishing.

Are there plans to add this functionality avoiding the use of plugins for jenkins, etc

[2022-04-20 09:45] Maddosaurus commented on #1321
Welcome @GitLabOps and thank you for sharing your idea with us!
I'll run this by the engineering team to collect their thoughts and feedback.
We'll update this issue as soon as we can provide more insight or a result of that discussion 😄

[2022-04-24 11:10] NissesSenap opened #1399 "Azure ACR integration node managed identity (NMI) support"
Just like AWS have kube2iam and similar solution (https://docs.openshift.com/acs/3.69/integration/integrate-with-image-registries.html#use-assumerole-with-ecr) Azure got [aad pod identity](https://github.com/Azure/aad-pod-identity).

Instead of using a service account with a annotation as you do in AWS you label your pod.
Here we can find a example implementation how this was solved in aquasecurit

[2022-04-24 11:23] NissesSenap opened #1400 "Scanner integration trivy"
Today there are support for a number of registries and scanners.
Personally I use [trivy](https://github.com/aquasecurity/trivy) to scan my images using my CI/CD environment and to be consistent with existing vulnerabilities towards my developers I would like to use trivy as a image scanner.

Trivy can be run in client server mode https://www.youtube.com/watch?v=tNQ-VlahtYM and with a simple api r

[2022-04-24 11:43] NissesSenap opened #1401 "A better way to install stackrox operator without OLM"
Today stackrox you have a great way of installing the stackrox operator through OLM.
But when trying to install the operator through kubernetes it's not as easy.

As you mentioned on the first community meeting everyone knows how to use helm charts to it probably would be a good way to solve this problem.

The bad thing is of course that we would have to maintain yet another helm chart.

Stackrox-

[2022-04-24 11:58] NissesSenap opened #1402 "Manage stackrox internal resources through operator"
Today the operator solves the basic issue of setting up stackrox it self which is great.
But as I think most of us can agree on we need more :).

I would like to configure most resources that exist inside stackrox through CRD:s.
This will enable me to configure things like access to container registries using gitops instead of manually having to go in and klick in the UI.

This will also help a lo

[2022-04-28 17:59] md2119 commented on #1401
@NissesSenap, thank you for contributing to the StackRox community!
I will direct your feedback to the appropriate engineering team. We'll update this issue as soon as we can provide more insight.

[2022-04-28 18:04] md2119 commented on #1402
@NissesSenap, thank you again for contributing to the StackRox community! We appreciate your feedback!
I have directed your feedback to the appropriate engineering team. Once it has been discussed and evaluated, we will update this issue.

[2022-04-28 18:11] md2119 commented on #1400
@NissesSenap, we appreciate your feedback!
I have directed your feedback to the appropriate engineering team. Once it has been discussed and evaluated, we will update this issue.

[2022-05-02 10:14] Maddosaurus commented on #1244
Hey @sebw!
I've tried reproducing the reporting behaviour but was not able to produce an empty report.
I'm running Docker Desktop 4.6.1 on OSX right now.

Exploring the possible differences between our configs, I'd like to ask you for a bit more information:
- Did the empty report show up on planned report execution, on "run report now", or on both?
- Could you attach a screenshot of your resource

[2022-05-02 17:29] SimonBaeumer commented on #1402
Hey @NissesSenap,
thanks for the great feature request!
We also think adding CustomResources for the platform's configuration (i.e. policies) is a great feature and have it already on our roadmap, especially to improve our GitOps workflows with StackRox.
Our roadmap was shared by our product team, you can find your suggestion on [this slide](https://youtu.be/WA6H1n9auAM?t=720) [1] listed as "Enhan

[2022-05-02 17:34] SimonBaeumer commented on #1401
Hey @NissesSenap,
glad to see all your feature requests. Thanks!
Supporting our operator on non-OpenShift is on our roadmap but not scheduled yet and needs some more investigations, i.e. installing operator via Helm and auto-upgrading outside of OLM.

Best,
Simon

[2022-05-02 18:07] NissesSenap commented on #1401
Fully understand @SimonBaeumer. My plan is to try to join the next community meeting. If possible it would be nice to have a short discussion about possible ways forward.

I could definitely help out with some basic CI/CD setup and write the initial helm chart. The question in my mind is how to manage it in a good way long term.

[2022-05-03 14:54] Molter73 opened #1527 "Provide a way to easily build collector drivers"
Currently, the collector component of stackrox uses a kernel module or eBPF probe (referred to as drivers from this point on), in order to gather information on running processes, network connections, etc.

Because these drivers need to be build for a specific kernel, members of the community would either need to:
- Run stackrox in one of the platforms we support (we do support most major distribu

[2022-05-03 15:02] Maddosaurus commented on #1527
To provide a bit more context:

We are currently collecting information to create a matrix of Kubernetes flavors and kernel versions that we are supporting.
As soon as we have this, we would like to explore how we could best integrate community contributions and ideally collect them in a single place to lessen the risk of repeating development efforts.

For the moment, we'd be happy to use this is

[2022-05-04 16:08] wpessers opened #1545 "Condition to evaluate central deployments' readiness"
Currently, stackrox has a couple of possible `ConditionReason`s we can use to check if the Central is healthy. These are defined in https://github.com/stackrox/stackrox/blob/332c589ce23576052c755b90ac9ccc32b8f74c25/operator/apis/platform/v1alpha1/common_types.go#L68-L85

We use GitOps through ArgoCD and implemented this custom health check for the Central CRD:
![image](https://user-images.githubus

[2022-05-04 19:29] viswajithiii commented on #1545
Hi @wpessers, thanks for filing this issue! I've pinged the operator experts on our team, and one of them will respond here soon.

[2022-05-05 05:00] porridge commented on #1545
Hi @wpessers as you have discovered, the operator does not monitor the health of its operands. The conditions in Central CR only reflect how recent reconciliation went.
We don't have plans to provide monitoring via the operator in the immediate future. However we would definitely like to know what could make your life easier. Would a single condition that reflects the health of all owned deploymen

[2022-05-05 06:51] SimonBaeumer commented on #1401
@NissesSenap That's great to hear, thank you! I'll join the community meeting (10th May @ 18:00 CET).

[2022-05-07 04:26] crutonjohn opened #1614 "Multi-Arch Image Support"
First of all, congratulations on open-sourcing the project. I'm deploying Stackrox at home to play around and get used to the interface, in addition to increasing the security posture of my home-based k3s cluster. Upon installation of the platform, it would appear that there is no way for the collector daemonset to run on my arm64 nodes. From a cursory look on quay.io/stackrox-io it would appear t

[2022-05-09 16:55] viswajithiii commented on #1399
Hi @NissesSenap, thanks for filing this issue! We are tracking it as a feature enhancement and will be prioritizing it internally. We will update this issue with the status. In the meantime, we would be happy to accept a PR from the community that implements this functionality.

[2022-05-09 16:58] viswajithiii commented on #1614
Hi @crutonjohn, thanks for filing this issue! Currently, this is not something that is a priority internally since there is not enough customer demand for it, but if you/someone else from the community ends up implementing this and send a PR our way, we'll gladly take a look.

[2022-05-10 11:59] Turgut202 opened #1640 "Sensor pod crashed"
Hello,
I am using Stackrox in k8s approx 1-2 weeks. Today Sensos pod crashed (CrashLoopBackoff). Logs give me the following. Please help

No certificates found in /usr/local/share/ca-certificates
No certificates found in /etc/pki/injected-ca-trust
main: 2022/05/10 11:38:35.261465 main.go:28: Info: Running StackRox Version: 3.69.x-569-g769804636a
kubernetes/sensor: 2022/05/10 11:38:35.265931 sensor

[2022-05-10 13:21] SimonBaeumer commented on #1640
Hey @Turgut202,
is this the whole log? To me it looks like there is something missing after `"appServiceaccountId": "fb6f0e86-3634-48f4-9437-f2e8a864496b",`.

[2022-05-10 16:36] NissesSenap commented on #1401
Had a chat about this during the community meeting.
We will create a separate repo for the helm chart and I will try to create a basic version.

[2022-05-11 07:31] Maddosaurus commented on #1640
For completeness, there is also [discussion on this issue happening over in the CNCF StackRox channel](https://cloud-native.slack.com/archives/C01TDE3GK0E/p1652182832572189).
The solution there was to reinstall using a different script. Current status of that thread: Waiting for result of recommended path.

[2022-05-11 08:09] wpessers commented on #1545
Hello @porridge a condition that reflects the health of all owned deployments would indeed be what we need in this case. Ideally, we'd want the securedclusters to be created after all central deployments are healthy. Right now the securedclusters already start syncing before this condition is met.

It would be nice to be able to differentiate between the health central deployment and the other dep

[2022-05-11 22:25] sebw commented on #1244
Hi,

Running a report manually returns zero issues as well.

Attached the scope settings:

![image](https://user-images.githubusercontent.com/2285094/167956847-58c431ef-d673-4629-89de-ab8211f3b926.png)

So I figured the fact the cluster had a big red cross I had to edit it somehow. After allowing the cluster manually, the report contains a zip file with a csv:

![image](https://user-images.githubu

[2022-05-12 06:11] Turgut202 commented on #1640
Problem solved, i used another way of installation

[2022-05-12 20:20] msierks opened #1695 "Compiling scanner missing builder image"
Hello, I'm trying to build/compile the scanner, which seems to require the image stackrox/scanner:builder-${BUILD-DIR_HASH} or in the case of CI quay.io/rhacs-eng/scanner:builder-$(BUILD_DIR_HASH).

https://github.com/stackrox/scanner/blob/master/Makefile#L26-L32

Both of these appear to be inaccessible, is this builder image accessible somewhere else or does it need to be generated through other

[2022-05-12 20:30] gavin-stackrox commented on #1695
Hi Michael, I think `make scanner-image-builder` will provide that for you.

[2022-05-12 20:34] msierks commented on #1695
I think I see the problem, I've been getting this error:

[code]

Which is triggering the script to die immediately instead of building the image. The specific logic I;m getting stuck on is located here:

https://github.com/stackrox/scanner/blob/master/scripts/ensure_image.sh#L29-L31

Not entirely sure what the best solution is here though.

[2022-05-12 22:56] gavin-stackrox commented on #1695
I tried to deconstruct it but I'm hitting an error with the build:
[code]

[2022-05-12 22:56] gavin-stackrox commented on #1695
maybe @RTann can help us

[2022-05-13 02:37] msierks commented on #1695
Not sure what's going on with the centos:8 mirrors, though if I'm not mistaken that release is EOL. Switching to rockylinux:8 could be a quick workaround.

[2022-05-13 11:37] Maddosaurus commented on #1640
That is great to hear, thanks for reporting back! :tada:

[2022-05-13 11:37] #1640 closed

[2022-05-13 21:04] RTann commented on #1695
The stackrox repo (this one) builds the `main` image's binaries in a `centos:stream8` image in publicly accessible quay.io repos. Thank you for posting this issue, as it encouraged me to copy that concept over to the scanner repo. I will respond back to this issue once that is complete.

[2022-05-16 16:20] msierks opened #1727 "Add Rocky And Alma Linux Scanner Support"
Hello!
I bet there are a few who'd like this, it'd be great to support Rocky and Alma Linux (or at least partially). Specifically to have these image releases and there components identified by the scanner.

[2022-05-17 15:07] msierks opened #1748 "Scanner build-updater generate-dump pulls from private gcs bucket"
When executing scanner build-updater generate-dump as part of the build instructions, it attempts to pull data from the stackrox-scanner-feed gcs bucket.

`./bin/updater generate-dump --out-file image/scanner/dump/dump.zip`

Which results in the following error:

[code]

Though I did not supply a gsa, I would think I'd need to request access to this bucket if I did. Would it make sense to use a pu

[2022-05-17 15:29] msierks opened #1749 "Scanner localdev error tar unexpected EOF"
When running scanner localdev against some test images results in the following the following error.

[code]

After doing some digging if I increase the tarutils maxLazyReaderBufferSize to something large enough to avoid disk, the tar is read successfully. I suspect there might be an issue with the disk backed buffer.

[2022-05-17 18:18] RTann commented on #1695
Scanner is now build by using a `quay.iostackrox-io/apollo-ci:scanner-build-<version>` image in the Scanner repo. This image should be public, so I don't expect more build issues. Feel free to close the issue @msierks if you are able to build the Scanner image locally

[2022-05-17 18:34] RTann commented on #1749
Thank you for submitting this issue! Is there an example image you would not mind sending over, so we can look into it?

[2022-05-17 18:55] msierks commented on #1749
Sure, I exported the latest version of `rockylinux:8`. If you want I could supply the export itself, through some other means. The issue is when extracting an archive larger than the buffsize. In the case of rockylinux:8 it's approx 238MB.

I spent some time looking into this and it seems there might be an issue with diskBackedLazyReaderAt, possibly within ensureOverflowToDisk(). I don't fully und

[2022-05-17 20:27] msierks commented on #1695
Thanks @RTann, much appreciated. This is working as expected.

[2022-05-17 20:27] #1695 closed

[2022-05-17 23:05] RTann commented on #1749
I believe this is due to a bug in the Scanner codebase. I have created a ticket https://issues.redhat.com/browse/ROX-10991 to track it. Thank you very much for discovering this and letting us know!

[2022-05-18 19:05] RTann commented on #1749
The [fix has been merged](https://github.com/stackrox/scanner/pull/740). Please feel free to close the ticket if you no longer see this error. Thank you again for bringing this to our attention!

[2022-05-19 02:47] msierks commented on #1749
Confirmed, this is working now. Thanks.

[2022-05-19 02:47] #1749 closed

[2022-05-19 09:25] Maddosaurus commented on #1727
Hey @msierks and thank you for your request!
We're currently discussing this in the engineering team and will come back to you once we have an update!

[2022-05-19 09:28] Maddosaurus commented on #1748
Hey @msierks!
We've run into this problem on multiple occasions in the recent past.
Currently, we're working on a way to retire this private bucket, so you're not off base 😄
We'll let you know once we've come up with a solution for this!

[2022-05-19 14:38] Qiont opened #1777 "07735244219"
1

[2022-05-19 16:42] #1777 closed

[2022-05-23 07:14] Maddosaurus commented on #1614
For completeness, there has also been a discussion [thread on the CNCF Slack](https://cloud-native.slack.com/archives/C01TDE3GK0E/p1652325070937549) where someone tried to build on their M1 Mac as well (without success so far).
We've been made aware that newer colleagues joining our team seem to be equipped with M1 Macs, so while I cannot give a timeline for built images, it looks like we should i

[2022-05-24 13:04] timvandruenen opened #1825 "Vulnerability scan doesn't include dependency libs (OpenSSL)"
I was playing around with multiple vulnerability scanning tools in Kubernetes. While doing this, I experienced that Stackrox is not flagging dependency libraries from (OS?) packages.

Example:
We've a pod running based on Alpine alpine:v3.14. During installation the following command has been executed:
`apk add --update --no-cache openssl`

This will install OpenSSL version:
`OpenSSL 1.1.1n  15 Ma

[2022-06-03 12:04] balpert89 opened #1934 "Installation in arbitrary namespace"
I am currently facing an issue installing the stack in a namespace which is not "stackrox". Due to policy enforcement we need to create namespaces with a certain prefix, "mcs-". Due to that we need to create the central in this namespace as well.

[code]

However, the manifests all have "stackrox" in the `metadata.namespace` field:
[code]

With the advertised deployment in `README` (`oc create -R

[2022-06-03 12:21] balpert89 commented on #1934
Additionally, the same applies for generating sensors. I have multiple clusters that should send data to one central - we have the same requirement here, running sensor in a different namespace than `stackrox`. Generating a bundle on stackrox UI (or API) results in the same issue, where SANs point to e.g. `sensor.stackrox.svc`.

[2022-06-03 14:18] SimonBaeumer commented on #1934
@balpert89 Generating a bundle with roxctl does not support a different namespace than `stackrox`.
Please note that this installation is deprecated, if you are using OpenShift 4.x you can use our operator, otherwise we provide Helm charts for Central and SecuredCluster which support installations in all namespaces.

[2022-06-14 07:17] SimonBaeumer commented on #1401
@NissesSenap Repository created: https://github.com/stackrox/operator-helm-chart

[2022-06-16 09:24] ccodreanu opened #2100 "Differences between Stackrox open source and the enterprise version"
Hi!

I was trying to get more info about the differences between this project and the enterprise version.

How should the deployment be done for this project. `stackrox.io/main:3.70.0` requires auth to the registry.

Moreover, are any of the features dropped in the open source version?

Is there on the roadmap to have public container images?

Many thanks!

[2022-06-17 07:29] Maddosaurus commented on #2100
Hi @ccodreanu!

Thanks for stopping by!
Could you share with me where you found the `stackrox.io/main:3.70.0` image tag?
Because that is definitely an out-of-date location and we need to update our public facing information 😄

Let me start by answering the question of deployment:
We provide Helm charts (see https://github.com/stackrox/stackrox#quick-installation-via-helm for a quick start) and pub

[2022-06-17 14:38] #2100 closed

[2022-06-20 14:29] Maddosaurus commented on #1401
Small update on this: In the meantime, we have updated our release process and automatically generate Helm charts that deploy StackRox (OSS) images from quay.io/stackrio-io. You can find these charts [here](https://github.com/stackrox/helm-charts/tree/main/opensource).
I hope this helps building a community operator for StackRox 🎉

[2022-06-20 15:56] Maddosaurus commented on #1825
Hello @timvandruenen and thanks for opening the issue!
Sorry for taking so long to respond, I'm currently checking with our engineering team what could be happening here.
We'll get back to you once we know more!

[2022-06-20 16:05] Maddosaurus commented on #1934
@balpert89 I hope @SimonBaeumer's answer helped you.
As we haven't heard back from you yet, I'll close this issue for now, assuming that switching over to either the Operator or the Helm charts should fix the problem.
Feel free to reopen the issue if that isn't the case or if you'd like to further discuss this 🙂

[2022-06-20 16:05] #1934 closed

[2022-06-24 13:12] jeanphilipper opened #2193 "Question about passwords hashing into RocksDB"
Hello !

I would like to know which algorithm is used to store users passwords (i.e. admin) into the RocksDB.

It seems you need to use `bcrypt` when using the current helm chart and force admin password but password stored can use another hashing algorithm.

Thank you in advance

~question

[2022-06-27 12:51] NissesSenap commented on #1401
@SimonBaeumer I won't have time to look in to this the coming weeks. Lots to do during the summer and apparently some PTO as well.
So if anyone have time to look in to this feel free to go for it.

[2022-06-28 12:48] #2193 closed

[2022-07-04 06:21] NissesSenap commented on #1401
Might be worth looking in to: https://github.com/arttor/helmify as an option to help to generate the helm chart for the operator.

[2022-07-11 08:05] mmurhamm opened #2357 "PSP not needed on OpenShift"
Helm charts 70.0.0 create PSP resources when installing on OpenShift where PSP are not available/needed. Suggestion to remove PSP when detecting installation to OpenShift.

[2022-07-13 22:41] connorgorman commented on #1748
@RTann This shouldn't be a problem anymore right?

[2022-07-13 22:45] RTann commented on #1748
Correct, as of last week this bucket is now public. I will close this issue, but please feel free to reopen it if there are still any issues!

[2022-07-13 22:45] #1748 closed

[2022-07-18 15:23] crimv42 commented on #2100
@Maddosaurus is this still the case? Even when using the helm chart you have listed, im still getting an unauthorized error on the image pull

[2022-07-20 15:13] Maddosaurus commented on #2357
Hi @mmurhamm and thank you for opening the issue!

You are correct in that StackRox 3.70 installs these even where they are not available.
With 3.71 we are introducing capabilities (and autodetection) whether they are needed or not.
You can find a more detailed description in the changelog for 3.71: https://github.com/stackrox/stackrox/blob/master/CHANGELOG.md#3710

I am closing this issue for now

[2022-07-20 15:13] #2357 closed

[2022-07-21 10:27] hairmare opened #2482 "PVC waiting for first consumer to be created before binding"
The `stackrox/stackrox-central-services:70.1.0` Helm chart is creating a PVC with a `helm.sh/hook: pre-install,pre-upgrade`. On clusters that have a StorageClass configured with `WaitForFirstConsumer` as volume binding mode the hook will never finish because the PV that underpins the PVC will only be created once a Deployment tries to mount it.

One example where this is happening is when using th

[2022-07-22 10:52] mtesseract commented on #2482
Hello @hairmare!
Thank you for your proposal.
We will look into this and come back to you when we can provide more information on this topic.
Greetings,
Moritz

[2022-07-24 21:14] chalbersma opened #2506 "3.71.0 Not in Helm Charts"
Hey I noticed that 3.70 is the only version in the helm chart. Is that expected?

[2022-07-25 12:32] mtesseract commented on #2506
Hello!
Thanks you for your question.
Version 3.71.0 has not *yet* been released, but the release should be available pretty soon.
After the release process is finished you should be able to find updated Helm charts for v3.71.0.
Greetings,
Moritz

[2022-07-26 08:13] mtesseract commented on #2506
Hi again,
good news, 3.71.0 has been released yesterday and you can find the updated Helm charts here: https://github.com/stackrox/helm-charts/tree/main/3.71.0.
Therefore I will close this ticket.
Feel free to re-open or create a new one, in case something remains unclear.
Thanks,
Moritz

[2022-07-26 08:13] #2506 closed

[2022-07-26 13:05] hairmare commented on #2482
I have since noticed that a bunch of other resources (mainly secrets) also have a helm-hook annotation and would like to also propose removing the annotation from those resources.

The main reason (in addition to the `WaitForFirstConsumer`) is that i'm deploying the chart using Argo CD (aka OpenShift GitOps) and that Argo CD is trying to remove hook resources from the previous sync before it start

[2022-07-26 13:23] mirtov-alexey opened #2519 "how stackrox detect CVE-2020-8561?"
Could you please tell me how technically stackrox is looking for the vulnerability CVE-2020-8561?
vulnerability link https://groups.google.com/g/kubernetes-security-announce/c/RV2IhwcrQsY

the fact is that in our cloud provider "yandex cloud" it is technically impossible to successfully redirect according to the description of the vulnerability, but stackrox shows that the vulnerability is valid
s

[2022-07-26 16:09] RTann commented on #2519
Our source for this vulnerability data is [here](https://github.com/stackrox/k8s-cves/blob/main/cves/CVE-2020-8561.yaml), and it is based on this [issue]((https://github.com/kubernetes/kubernetes/issues/104720)). According to the issue, all versions of the `kube-apiserver` are affected by this vulnerability. It is very much possible that your particular configuration mitigates the problem, but the

[2022-07-26 16:11] mirtov-alexey commented on #2519
Thank you!
for information

[2022-07-26 16:13] RTann commented on #2519
Oops I messed up the markdown syntax, so the link to the Kubernetes issue was never posted. I just updated the original response ^

[2022-07-26 19:55] balpert89 opened #2525 "Auto-generated internal image registry on a cluster causes central to use the image registry service IP"
Hi team,

we currently face an issue in our lab environment where we have

- an OCP platform `A` hosting the central and scanner
- an OCP platform `B` hosting a secured cluster with sensor, scanner (db), admission controller, collectors

When sensor from platform `B` starts sending information to platform `A`, it autogenerates several entries under "Platform Configuration" -> "Integrations" -> "Ge

[2022-07-26 20:00] balpert89 commented on #2525
When I have created the example pod the scanner on platform `B` analyzed the image from its image registry
[code]

[2022-08-03 07:55] Maddosaurus commented on #1614
A little bit of a progress report:
https://github.com/stackrox/stackrox/pull/2579 allows for native local ARM builds.
It's a first step in the right direction, although we're not all the way to multiarch prebuilt images :)

Feel free to take a look at the ARM build and let us know if you're able to build this locally!

[2022-08-10 12:31] balpert89 opened #2676 "CVE Scanning for node not possible"
Hi,

OCP Version - Central: 4.9.33
OCP Version - Secured Cluster: 4.10.20, 4.9.33, 4.8.19
Stackrox Version: 3.71.0

we are deploying Stackrox on OCP4. The Vulnerability Management Details page for a node of a secured cluster does not show any CVE Data, instead I can only see a message
[code]
Question 1: where can I find the release notes?
Question 2: is there a roadmap for new features? E.g. I saw

[2022-08-11 07:53] Engrave-zz opened #2691 "Root web url"
is there anyway to change the root prefix for stackrox to /stackrox or something like that?

[2022-08-11 10:03] dan-m8t opened #2692 "Cannot use OpenShift OAuth with OKD 4.8"
Hi,

I am trying to set up Stackrox with OpenShift OAuth as as Auth providers.

When I try to add the provider I'll get the following error:

`unable to create an auth provider instance: unable to create backend for provider id xxxx-xxx-xxxx-xxxx: failed to create dex openshiftConnector for OpenShift's OAuth Server: failed to query OpenShift endpoint: Get "https://openshift.default.svc/.well-known

[2022-08-11 16:55] dhaus67 commented on #2692
Hey @dan-m8t, thanks for filing this issue!

As you rightly assumed, we currently have [this endpoint hardcoded within the implementation of the OpenShift auth provider](https://github.com/stackrox/stackrox/blob/ce907f6451177918d63536ad507f4dfe8b5d7fa6/pkg/auth/authproviders/openshift/backend_impl.go#L23). I don't have much experience with OKD, but I would assume the endpoints are surely different

[2022-08-12 07:16] dan-m8t commented on #2692
Hey,

thanks for your response!
OKD and OpenShift are pretty close because OKD is the upstream project to OpenShift. So I'd assume the endpoints do not differ.

Anyways I figured out that I misconfigured my proxy settings and after reconfiguring the proxy setting I was able to save the auth provider with no error.

But when I choose OpenShift OAuth to login I get another error message from https:/

[2022-08-12 07:50] dan-m8t commented on #2692
Everything's fine, I should stick the docs ;).

My fault was that I forgot to enable the OpenShift Route in the Helm chart, so I configured my own to access stackrox. I bet the redirectURI is somewhere hardcoded. I enabled the Route via Helm and now it works as expected, thx!

[2022-08-12 07:50] #2692 closed

[2022-08-16 18:32] RTann commented on #1727
We have discussed this, and support for these two OSes will be community-driven at this time. That means we will likely not work towards developing this support nor fixing bugs, but we will happily review any related PRs

[2022-08-17 18:19] neilcar opened #2725 "Duplicate Deployments in Dropdown in Policy Exclusion Scope UI"
https://cloud-native.slack.com/archives/C01TDE3GK0E/p1660665385988579

When adding a policy exclusion scope, the dropdown for Deployment is unordered and has duplicates; additionally, there's no way to type to search the list or to enter a deployment that doesn't currently exist (might be ephemeral or an expected deployment you want to apply policy to before it's deployed).

It appears that this i

[2022-08-21 20:49] christianhuening commented on #1614
I would love an arm64 image build as well. I am testing a lot of things on my raspberrypi home cluster and it's always great to have arm64 images at the ready.

[2022-08-22 16:23] msierks commented on #1727
This sounds reasonable to me.

[2022-08-24 11:05] hairmare commented on #2482
Hey @mtesseract
Were you able to get any feedback from the team? Argo CD still wants to remove important parts of the deployment with every update and i'd be happy to provide a fix.
Thanks,
Lucas

[2022-08-24 22:04] mtesseract commented on #2482
Hi Lucas,

sorry that I wasn't able to get back to you earlier. So, I've had a first look at this and would like to describe my thoughts around this. Please correct me if I got something wrong (please note that I haven't used Argo CD or Azure AKS before).

I have the feeling that we are dealing with two issues here, is this right?
First would be about the `WaitForFirstConsumer` setting and how the

[2022-08-25 15:20] msierks commented on #1727
Sorry, I made an assumption here. It's a little unclear, will PRs related to Rocky and Alma support be accepted/merged.

[2022-08-26 21:04] SadFaceSmith opened #2848 "eBPF Probe error on Digital Ocean Kubernetes cluster"
Hello, I have installed Stackrox on a DO kubernetes cluster. The collector pods are bouncing between Running and CrashLoopBackOff due to the below error.

[code]

How can I troubleshoot?

[2022-08-29 18:32] chalbersma opened #2872 "Feature Request: Allow exemptions to Exempt by Username/Groups"
Currently you can only create policies that exempt particular usernames/groups from taking a particular action by modifying criteria (and generally duplicating policies)([source](https://cloud-native.slack.com/archives/C01TDE3GK0E/p1661453365267649)). This is non-ideal for two reasons. First it's a bit of an anti-pattern to create different criteria to do exemptions. Second with some policies bein

[2022-09-02 11:06] mtcolman opened #2952 "Policy image exclusion"
When creating a policy in ACS (v3.71.0), is it possible to exclude images by registry or repo?

It would appear (from the "policy scope" page) that I can only do this by selecting (one or many) individual images, which are then referencing specific tags?

![image](https://user-images.githubusercontent.com/33348891/188125279-086d7ade-b4a4-4ad3-981b-a7584aec6764.png)

As shown here, I think I'm limi

[2022-09-06 13:11] msugakov commented on #1401
Hi @NissesSenap

Could you please clarify what's your ask here?

Are you looking for a way to deploy StackRox via Helm chart or are you looking for a way to deploy StackRox Operator via Helm chart?

The latter would mean to install StackRox Operator (without requiring OpenShift or OLM) which can then install StackRox once you create Central and Secured Cluster Custom Resources (CRs). If that's the

[2022-09-06 13:52] msugakov commented on #1727
Hi @msierks
I suppose you mean <https://github.com/stackrox/scanner/pull/745> and <https://github.com/stackrox/scanner/pull/748>, correct? I double-checked with the team and in general we're open and grateful to integrate Rocky and Alma support as community contribution. It looks like @RTann and colleagues responsible for the Scanner component may not have been tagged to review the recent changes

[2022-09-06 14:31] msierks commented on #1727
@msugakov Yes, those are the PRs I was referring to. Thanks for clearing that up.

[2022-09-06 19:31] msugakov commented on #1401
@NissesSenap thanks for clarifying! Indeed, the idea of operators is that they should do more than just install/upgrade/uninstall.

I don't see why GitOps is bound to operators though. I believe GitOps with Helm charts can manage resources quite well. Although this leaves you to implement workload monitoring, auto-scaling, backup and recovery, i.e. things that _can_ be solved by the operator _if_

[2022-09-06 19:52] NissesSenap commented on #1401
Okay I don't think we are talking about the same thing will try to explain how I think from a user point of view.
I guess this issue have two main users groups.

* platform admins
* security engineers

As a **platform developer** I want a simple way of deploying stackrox.
I want to be able to control all settings inside StackRox thorough kubernets CR:s.

As a **security engineer** I want to be abl

[2022-09-06 20:13] msugakov commented on #1401
Fair enough.

I think today StackRox Helm charts expose more configuration settings than the Operator does. However these are things that control deployment of StackRox, not the system content that it deals with, like External Integrations or System Policies.

We have had requests to support External Integrations, System Policies and other things which relate to functioning of StackRox (not just i

[2022-09-07 07:57] msugakov opened #2986 "Dummy test issue"
This is just to test whether the issue will enter OSS Triaging board automatically once created. https://github.com/orgs/stackrox/projects/2/views/1

[2022-09-07 07:57] msugakov commented on #2986
Feel free to close it any time.

[2022-09-07 16:56] clickboo commented on #1244
Hi @sebw, thanks for reporting and getting back with the requested data. Would you be able to share the report configuration settings? Thank you.

[2022-09-08 14:11] Maddosaurus commented on #2691
Hi @Engrave-zz and thank you for opening an issue!
Could you clarify a bit what prefix you are trying to change?

My understanding is that youwould like to change the URL that the WebUI is exposed at, correct?

[2022-09-08 14:14] Maddosaurus commented on #2519
If everyone is okay with that, I'm closing this ticket as done for now.
If we forgot to address anything or you would like to discuss further, feel free to (re)open the ticket @mirtov-alexey :)

[2022-09-08 14:14] #2519 closed

[2022-09-09 11:47] Maddosaurus opened #3027 "[Hacktober] `roxctl central generate interactive` falsely expects a registry"
Following the [defined process](https://docs.openshift.com/acs/installing/install-quick-roxctl.html#installing-central) for a manual central install will result in a setup.sh script that prompts for docker credentials even though opensource images are used.
Ideally, roxctl should not prompt for registry credentials when it is used to generate an installer for the opensource flavor.
A good starting

[2022-09-09 11:48] jschnath opened #3028 "[Hacktober] Add linter check/support for SPDX headers"
Goal: Have a linter check that fails if any given source file does not contain an SDPX header

We should have [SPDX headers](https://spdx.dev/resources/use/) in all of our source files in all repositories that we want to open source.
Example:

// Copyright Red Hat [or: Copyright StackRox Authors [or similar]]
// SPDX-License-Identifier: Apache-2.0

The task is to create a linter check that looks f

[2022-09-09 12:01] jschnath opened #3029 "[Hacktober] Update roxctl default to opensource"
**Goal**: Set the default image flavor of roxctl to opensource

In `pkg/images/defaults/flavor.go` defines 4 different image flavors, one of which is `OpenSourceImageFlavor()`. Our command line tool roxctl currently does not use a default opensource image flavor, so change it to that.

Internal link: https://issues.redhat.com/browse/ROX-10082

[2022-09-09 12:06] jschnath opened #3030 "Remove development_build image flavor"
**Goal**: Reduce the number of flavors, development_build is deprecated.

- Remove flavor from `/pkg/images/default`

Internal link: https://issues.redhat.com/browse/ROX-11021

[2022-09-09 16:07] rukletsov commented on #2676
@jvdm could you please chime in here?

[2022-09-09 16:24] AdwitiyaMishra commented on #3030
Hi @jschnath, I would like to work on this issue. Could you please assign it to me?

[2022-09-09 16:51] md2119 commented on #2725
Thank you, @neilcar for bringing this to our attention! The issues you raised are being discussed by engineering and are included in the upcoming roadmap.

[2022-09-09 23:06] jvdm commented on #2676
@balpert89 CoreOS node scanning is currently disabled because some of the CVE sources we use for node scanning are not OS-specific. Instead, we use NVD, despite the fact that Red Hat OVALs offer more accurate information. To avoid confusion, it was disabled.

The release notes refer to [RHACS release notes for 3.71](https://docs.openshift.com/acs/3.70/release_notes/370-release-notes.html). In Stac

[2022-09-09 23:09] #2676 closed

[2022-09-10 18:34] maronasn commented on #3028
Hi, I want to try fixing this issue. Can I get assigned to it?

[2022-09-12 08:57] Maddosaurus commented on #3028
Welcome @maronasn and thanks for expressing interest into StackRox!
Feel free to take up the issue and having a look at it.
If you'd like, you can always link the branch of your fork if you have questions or need help, as the PR only counts towards Hacktober if it's opened after October 1st 😸

[2022-09-12 08:59] Maddosaurus commented on #3030
Welcome @2022H1030042G and thanks for expressing interest into StackRox!
Feel free to take up the issue and having a look at it.
If you'd like, you can always link the branch of your fork if you have questions or need help, as the PR only counts towards Hacktober if it's opened after October 1st 😸

[2022-09-12 23:03] dhaus67 opened #3059 "Remove deprecated license flag in roxctl"
The command in question, `roxctl central license`, is deprecated and safe to remove.

For this, one would have to do the following:
- remove the files under [roxctl/central/license](https://github.com/stackrox/stackrox/tree/master/roxctl/central/license)
- remove all references of the command (such as [roxctl/central/central.go](https://github.com/stackrox/stackrox/blob/master/roxctl/central/centr

[2022-09-13 04:54] yuanlinios opened #3060 "clair endpoint for integration"
Which clair endpoint is supposed to be used for the integration with stackrox?

I've a clair instance running, but use a bare `hostname` or `https://hostname` in the Endpoint configuration just gives 404

[2022-09-13 08:24] Schuermi7 commented on #3059
I'd like to work on this one. Pls assign this to me

[2022-09-13 08:26] Maddosaurus commented on #3059
Welcome @Schuermi7  and thanks for expressing interest into StackRox!
Feel free to take up the issue and having a look at it.
If you'd like, you can always link the branch of your fork if you have questions or need help, as the PR only counts towards Hacktober if it's opened after October 1st 😸

[2022-09-13 09:10] misberner commented on #3060
Hey @yuanlinios , it depends on what endpoint you have configured your Clair instance to listen on.

I don't have first-hand experience running Clair (v4, I assume?), but from https://access.redhat.com/documentation/en-us/red_hat_quay/3.3/html/manage_red_hat_quay/clair-v4 I deduce that 8080 seems to be a common port for the HTTP API. So, depending on whether or not Clair is configured for TLS, the

[2022-09-13 20:46] sebw commented on #1244
Hi @clickboo

After editing the access scope, reports were okay.

I'll close this issue. Thanks!

[2022-09-13 20:46] #1244 closed

[2022-09-22 07:59] msugakov commented on #1400
Hi @NissesSenap
Sorry for the long time waiting. The question about integrating trivy as StackRox scanner was discussed internally and the outcome is that it's not in plans for the StackRox team. The team has focus on evolving StackRox own scanner and deepening its integration with the rest of the product.

[2022-09-22 08:03] NissesSenap commented on #1400
That makes sense. I will close the issue.
Thanks for the update @msugakov

[2022-09-22 08:03] #1400 closed

[2022-09-22 12:59] ivan-degtiarenko opened #3171 "Refresh SAML 2.0 metadata when dynamic confuguration is chosen"
### Description

In SAML 2.0 type of authentication provider, we allow users to choose either dynamic configuration or static configuration.

Static configuration requires user to manually input `IdP Issuer`, `IdP SSO URL` and `IdP Certificate(s) (PEM)`. Dynamic configuration allows Central to automatically obtain this data from `IdP Metadata URL`.

At the moment when the dynamic configuration is

[2022-09-22 16:52] porridge opened #3172 "Retry transient download failures in operator build process (ROX-12397)"
Example `curl` failure:

[code]

It would be great to try and add a shell retry loop around the `curl` [invocation](https://github.com/stackrox/stackrox/blob/dca280f22269930b1184d8a48c047577977c02ad/operator/Makefile#L204) to retry such transient issues.

[2022-09-23 19:24] jtaleric opened #3189 "sensor - detector.go:607: Error: Error looking up destination entity details while running network flow policy"
Hey all - Have a simple deployment of OpenShift w/ Stackrox and I see this int he Sensor logs:

[code]

Doesn't seem like it is impacting the overall use of the sensor, but i am curious if it is missing metrics?

[2022-09-26 09:17] msugakov commented on #3189
Hi @jtaleric

Could you please help check if deployment with `uid` `6114804e-b8e4-46a6-90d8-ca68b0f4e0b4` still exists in the cluster and what it is, e.g. does it belong to a system namespace?
A command like this will print the list of deployments and alike with their uids

[code]

Thanks!

[2022-09-26 11:43] balpert89 opened #3195 "[Collector] Segmentation Fault on all nodes in OpenShift 4.9.33"
Hi,

Disclaimer: I have opened the same issue at https://github.com/stackrox/collector/issues/838 because I am not sure on which repository this should be tracked as here we have a `area/collector` label. Please close the one which is at the wrong location.

we are experiencing crashes in collector containers across all nodes in one of our OpenShift clusters.

Debug Log:

[code]

I am not sure how

[2022-09-26 12:25] ovalenti commented on #3195
Let's track this issue in stackrox/collector, as it seems related to support package.

[2022-09-26 12:25] #3195 closed

[2022-09-26 15:52] fredrb commented on #3189
Here's my understanding of what's going on.

Network Flows are processed in batch every 30s based on data points received from collector. What's most likely happening here is that the deployment was deleted within this 30-second window. Therefore, the deployment ID can't be attributed to an existing entity in the cluster and the flow is simply dropped (and hence the error message).

I was able to

[2022-09-26 16:45] jtaleric commented on #3189
`With that, I don't think any metrics are being missed here. For alerts and flows to show up, you need a deployment entity in the cluster. Nothing should be shown if the deployment was deleted.`

that make a bit more sense. everything in my tests was short lived.

[2022-09-26 16:45] #3189 closed

[2022-09-29 13:30] ivan-degtiarenko commented on #2952
Hey @mtcolman,

sorry for the late response. It's possible to exclude images based on the **prefix** of their name. To do that, start typing in the `Select images to exclude` field and you'll see `Create <image name>` option at the bottom of the list:
<img width="1483" alt="Screenshot 2022-09-29 at 15 26 33" src="https://user-images.githubusercontent.com/78353299/193044019-d42a184c-d4a1-4ef2-8e7f-

[2022-09-29 13:59] mtcolman commented on #2952
@ivan-degtiarenko that's very helpful, thank you. Might it be worth making it clearer in the GUI that this can be done? And is it documented anywhere that I've missed? Otherwise could documentation be created/updated to make this clear?

Thanks!

[2022-09-29 20:11] RTann commented on #2525
Those error messages are a known issue, but they should not affect correctness nor functionality. I'd still expect the internal images to be scanned. Are your images still not scanned? Do you see any related logs in `B`'s Scanner pod(s)?

[2022-09-29 20:34] RTann commented on #3060
Our Clair integration was originally built with Clairv2, and I do not believe it supports Clairv4 (unless the endpoint is the same). From the looks of it, [we use the `GET /layers/<layerName>` endpoint from Clairv2](https://github.com/stackrox/stackrox/blob/master/pkg/scanners/clair/clair.go#L125), which, I believe, [assumes Clairv2 already completed the scan separately](https://github.com/quay/cl

[2022-09-29 23:22] maronasn commented on #3028
Hey I got the linter check implemented, not sure how to test it and make sure it compiles. Do you want me to still go ahead and make a pull request?

[2022-09-30 06:23] yuanlinios commented on #3060
Thank you for the information

[2022-09-30 06:23] #3060 closed

[2022-09-30 07:22] balpert89 commented on #2525
Hi Ross, yes the images are scanned and I can see results on the dashboard. In my second comment the logs indicate scanning took place in platorm `B` and results were sent to central.

As long as the log messages in central are only false-positives I am okay with it, though they clog the logstream a bit.
Is there a ticket tracking this issue?

[2022-10-02 12:20] balpert89 opened #3274 "Planned to integrate prometheus exporter / grafana dashboard?"
Hi

I couldn't find any infos concerning a prometheus exporter and / or a grafana dashboard. Are those things already discussed, decided on or planned?

[2022-10-03 09:07] porridge commented on #3274
Good question, @balpert89 I'll try to find out.

[2022-10-03 17:07] RTann commented on #2525
Yes, we are tracking this issue internally

[2022-10-04 08:28] Maddosaurus commented on #3028
Yes please!
Feel free to open a PR and have a look together.
Testing these kind of checks is always a bit messy, but we should be able to test this together in the PR 😸

[2022-10-04 08:30] Maddosaurus commented on #3030
Hey @2022H1030042G!
Checking in, as Hacktoberfest has started:
Do you have any questions, or do you need any help with this?
Feel free to share any progress, roadbumps, or questions with us!

[2022-10-04 08:51] 2022H1030042G commented on #3030
Hi @Maddosaurus , thanks for reverting.
1. The thing is I'm unaware of the Go language, so if you could share the details what is the issue all about and what exactly are the modifications needed from my end?
2. As mentioned development_build is deprecated, so do I have to remove it from pkg/images/defaults/flavor.go?
3. What other methods do I have to remove & where do I have to make the changes?

[2022-10-04 09:03] Maddosaurus commented on #3030
Sure!
`flavor.go` contains the different flavors that StackRox is aware of.
One of the flavors is `development_build`, which we don't need anymore. So that could be removed.

If you look at `flavor.go`, you will find the development_build flavor in multiple places, for example https://github.com/stackrox/stackrox/blob/master/pkg/images/defaults/flavor.go#L104  or https://github.com/stackrox/stackr

[2022-10-04 09:10] stehessel commented on #3274
Hi @balpert89,
Stackrox services like Central, Sensor and Scanner already expose Prometheus metrics. Depending on your deployment setup, you may need to define a Network policy to allow Prometheus to scrape the pods - you can do this via this setting in the Helm chart https://github.com/stackrox/helm-charts/blob/main/3.72.0/central-services/values-public.yaml.example#L127.

We currently don't have

[2022-10-04 16:07] atlekbai commented on #3172
Hello, @porridge ! I would like to implement this one. Please, assign this one to me :)

[2022-10-05 22:57] jeanphilipper opened #3327 "Some question about the product"
Hello everyone,

My team is using this product on an Openshift infrastructure and it works great !

But, I have some questions about this :
- which components or functions create temp files and what is the mean size of created files (is there also an auto-clean function for these files ?)
- is there a way to have access log (like apache access log) ?
- (a more Red-hat concern question) is there a

[2022-10-06 07:51] Maddosaurus commented on #3274
We also have some additional documentation about the Prometheus setup in our downstream documentation:
https://docs.openshift.com/acs/configuration/monitor-acs.html

I'd close the issue here, but please feel free to reopen/open a new one should you have further questions or if you would like us to address a different aspect! :)

[2022-10-06 07:51] #3274 closed

[2022-10-06 13:19] 2022H1030042G commented on #3030
I have removed all the mentions of development_build from these files: flavor.go, flavor_test.go, env.go. Following are the lines from the respective files where the changes have been made:
flavor.go: Lines 31 - 35, 104 - 143, 294 - 297 are removed.
flavor_test.go: Lines 46-48, 96-100, 153-155, line 197 "development_build" is removed.
env.go: Line 13 is removed.

Let me know if there are any corre

[2022-10-06 18:48] Schuermi7 commented on #3059
I was working on it, but did not finish until the PR arrived, so please merge his then and unassign me.

[2022-10-07 08:52] Maddosaurus commented on #3030
That is hard to say from discussions. Could you open a Pull Request referencing this issue so we can take a look together and also see if our automated tests pass?
Thanks! 😸

[2022-10-07 10:18] 2022H1030042G commented on #3030
Hey, I have opened up a Pull Request. You can have a look.

[2022-10-07 12:12] Maddosaurus commented on #3030
After investigating the CI results of the PR, it became apparent that we cannot remove the dev flavor at this point in time, as most processes in CI still depend on it.
I am sorry that we cannot accept this contribution as planned.

[2022-10-07 12:12] #3030 closed

[2022-10-07 19:39] RTann commented on #1825
Thank you very much for creating this issue, and I apologize for the delay!

Currently, I would expect our scanner to find libraries such as `libcrypto1.1` and `libssl1.1` both with version `1.1.1l` in your image. However, these are binary packages, and not the source package, `openssl`. From the looks of it, Alpine (and even Debian and Ubuntu) only show vulnerabilities for source packages, so you

[2022-10-10 16:52] msugakov commented on #3327
Hi @jeanphilipper

I'm not sure there's a simple answer to this one, and I definitely don't have any, but could you please share why such a question?

----

I'll let colleagues who know this better than me handle it.

----

Apparently, there is. Try following this solution <https://access.redhat.com/solutions/4814441> but select `Red Hat Advanced Cluster Security for Kubernetes` instead of `Red Ha

[2022-10-10 17:59] rukletsov commented on #3327
@jeanphilipper, we have [audit log](https://docs.openshift.com/acs/3.72/configuration/configure-audit-logging.html) for all modifying operations and extra tracing for the built-in authorizer accessible via `roxctl central debug authz-trace`.

[2022-10-11 13:38] jeanphilipper commented on #3327
Hello @msugakov and @rukletsov,

Thank you for your replies.

My security departement need a lot information about our running applications like network settings, cache usage and others things. That's why, we need to know this kind of information. In fact, they want to know if there's **sensitive information in cache** and how much time are they kept in that kind of storage.

---

It's worth a not

[2022-10-12 17:47] mfosterrox opened #3404 "roxctl generate netpol extra YAML addition"

[2022-10-12 18:49] mfosterrox opened #3405 "roxctl generate netpol adds`status: {}` metadata. Breaks kubectl apply command."
The generated network policy YAML files contain the `status: {}` metadata at the bottom of the files.

When using the `kubectl apply -f` command, it generates a `error: error validating "FILE": error validating data: ValidationError(NetworkPolicy): unknown field "status" in io.k8s.api.networking.v1.NetworkPolicy; if you choose to ignore these errors, turn validation off with --validate=false`

I c

[2022-10-13 08:30] Maddosaurus commented on #3405
The output is directly generated by [NP-Guards Cluster Topology Analyzer](https://github.com/np-guard/cluster-topology-analyzer), so maybe we should check in with the team there whether they have an idea.
Could you (re)open this ticket over in their repo and see what they think? Thanks!

[2022-10-13 09:26] janisz commented on #3404
@mfosterrox Could you add more context?

[2022-10-13 11:55] Maddosaurus commented on #3404
I suppose this is a duplicate of https://github.com/stackrox/stackrox/issues/3405, correct @mfosterrox?
I'm closing this off, but please feel free to reopen should this be wrong :)

[2022-10-13 11:55] #3404 closed

[2022-10-14 10:47] #3059 closed

[2022-10-20 10:19] iljaweis opened #3503 "central crashes at startup with quay.io/stackrox-io/main:3.72.1 (also: 3.72.0)"
Hello,

the central pod crashes while starting up:

[code]

This was an installation with helm stackrox-central-services-71.0.0, upgraded to stackrox-central-services-72.0.0, which then started crashing some time (less than 1 day) after the upgrade. Still crashing with 72.1.0.

Values for helm look like this:

[code]

This is the full log for central:
[crash.log](https://github.com/stackrox/stackr

[2022-10-20 10:35] luciamota commented on #3503
Same issue happening with version 3.70.1 without any recent changes in configuration/version.

[2022-10-20 10:52] hahnandreas commented on #3503
Same issue. Running Version 3.72.0. Quick fix would be appreciated.

[2022-10-20 11:22] msugakov commented on #3503
Thank you for reporting! The team got notified about this issue by internal monitoring and is currently looking into this.

[2022-10-20 12:17] christianhuening commented on #3503
thanks for reporting @iljaweis
we have the same

[2022-10-20 12:39] DarthSlider commented on #3503
Same problem.
image: 'registry.redhat.io/advanced-cluster-security/rhacs-main-rhel8:3.71.0'
It worked for more then month and then suddenly falled into crash loop with the same error.

[2022-10-20 13:01] SimonBaeumer commented on #3503
Thanks for providing information about the issue.
The team has found the root cause and currently working on releasing a workaround and releasing a patch fix as soon as possible.

[2022-10-20 13:02] Roberdvs commented on #3503
Same here on 3.71.0.

Looking at the stack trace I'm guessing something has changed in an external vulnerability database which is now making the Stackrox processing crash? And that's why it started happening suddenly without any changes and affects several versions.

[2022-10-20 13:24] orderzi commented on #3503
thanks for the response
we've encountered the same problem on 3.71.0

[2022-10-20 14:04] misberner commented on #3503
Hello folks,

thank you for reporting this incident, and our sincere apologies for the disruption this caused.

Due to an unexpected schema change in an upstream vulnerability feed, a corrupted CVE data file has been published to https://definitions.stackrox.io/ and consumed by a large number of Central instances. As a result of the data corruption, Central crashes. To the best of our knowledge, t

[2022-10-20 14:10] Roberdvs commented on #3503
Working like a charm! Thank you very much for the quick workaround.

[2022-10-20 14:19] iljaweis commented on #3503
Works for me as well. Thank you for the fix. 🙂

[2022-10-20 14:29] DarthSlider commented on #3503
confirm it works

[2022-10-20 17:54] adamrdrew opened #3508 "Nil pointer ref in nvdCvssv2ToProtoCvssv2"
Hello! We were trying to get stackrox set up on OpenShift and ended up with crash loop backoff for the central pod with a nil pointer ref:

[code]
There was likely something wrong with our config or setup, but figured yall would want to know about a panic. To me it looks the problem is that the pointer to the `BaseMetricV2` passed into the method that panicked was nil. The problem may be here?

[c

[2022-10-21 07:04] Maddosaurus commented on #3508
Hi @adamrdrew and thank you for the report!
From a quick glance (and the fact this happened to you recently), I strongly suspect the culprit for this to be the same as in https://github.com/stackrox/stackrox/issues/3503.
The source for this was a change in the CVE format that we process, so your analysis is very much on point! 💯
[More details and recovery instructions are in this comment](https://

[2022-10-21 08:52] rukletsov commented on #3503
For posterity: the fix for the problem has been merged, https://github.com/stackrox/stackrox/pull/3504

[2022-10-24 09:17] hairmare commented on #3508
@Maddosaurus i just ran into this issue with `quay.io/stackrox-io/main:3.72.0` and the linked mitigation steps worked and i now have a working central again.

[2022-10-25 14:02] janisz opened #3544 "Fix shell scripts to pass shellcheck linter"
In [`scripts/style/shellcheck_skip.txt`](https://github.com/stackrox/stackrox/blob/master/scripts/style/shellcheck_skip.txt) we have a list of not linted files. The goal of this issue is to get them fixed to pass shellcheck. To run shellcheck use `make shell-style`. Ideally every PR should fix one file:

- [ ] [`.github/workflows/scripts/patch-changelog.sh`](https://github.com/stackrox/stackrox/bl

[2022-10-25 14:09] janisz opened #3545 "Enable gosec rules"
Currently we have only one (1) gosec rule enabled in golangci-lint config.
https://github.com/stackrox/stackrox/blob/334e6b714e63d63006fdae2c95057c136367adcb/.golangci.yml#L51-L53

Ideally we should enable all of them. Every PR should fix one rule.

- [ ] **G101**: Look for hard coded credentials
- [ ] **G102**: Bind to all interfaces
- [ ] **G103**: Audit the use of unsafe block
- [ ] **G104**: A

[2022-10-25 14:55] lavanyajain commented on #3544
@janisz created PR to Fix shell check linter for deploy/common/deploy.sh
https://github.com/stackrox/stackrox/pull/3547/files

[2022-10-25 16:38] dastgirp commented on #3544
@janisz created PR to fix below listed files:
dev-tools/helmdiff.sh
scripts/k8s/cleanup.sh
scripts/k8s/get-lb-ip.sh
local/expand-db.sh

[2022-10-26 17:53] rachana-dani commented on #3544
Created a PR for this issue -> https://github.com/stackrox/stackrox/pull/3578. Please review
Files updated are ```deploy/k8s/sensor.sh``` and ```deploy/k8s/central.sh```.
@janisz Can you please approve the PR checks as well?

[2022-10-27 06:20] someoneme commented on #3544
Created the PR for this issue -> #3582.
Files updated are `deploy/k8s/deploy.sh` and `deploy/k8s/deploy-local.sh`
@janisz, Please verify this and approve the PR checks too.

[2022-10-27 16:08] janisz opened #3595 "Add a generic atomic (pointer) value to contain the use of `unsafe.Pointer`s to low-level library code."
Now that generics exists, it might be good to add a generic atomic (pointer) value to contain the use of `unsafe.Pointer`s to low-level library code (not in this PR). Maybe Uber's atomic library already has something?

_Originally posted by @misberner in https://github.com/stackrox/stackrox/pull/3568#pullrequestreview-1158227623_

[2022-10-28 12:48] steve-heslouin commented on #3503
Thanks so much for the fix ;)

[2022-10-28 14:00] Maddosaurus commented on #3508
As this issue has been quiet for a bit, I'll close it off as done in the hopes that it helped everyone involved.
@adamrdrew If you still experience issues, please feel free to reopen!

[2022-10-28 14:00] #3508 closed

[2022-11-04 11:41] vikin91 commented on #3405
This issue is worth another test after this is merged: https://github.com/stackrox/stackrox/pull/3696

[2022-11-07 10:59] balpert89 opened #3719 "Error and nil pointer exception during central startup phase for Istio-based CVEs"
Hi stackrox team,

we are facing an issue where the central is experiencing CrashLoop Backoffs because of a nil pointer exception. The application logs indicate that:
[code]

Full logs - please note, I have tried to use the newest version `3.72.1`, but the error has happened for `3.72.0` as well:

[code]

[2022-11-07 11:05] balpert89 commented on #3719
Just saw in another environment the logs indicate successful fetch for istio CVEs

[code]

Whereas the problematic central has the panic during this step. I will change the description accordingly.

[2022-11-07 14:09] janisz commented on #3719
It looks like it's related to https://github.com/stackrox/stackrox/issues/3508
Have you tried work-around described in https://github.com/stackrox/stackrox/issues/3503#issuecomment-1285606356

[2022-11-07 15:15] balpert89 commented on #3719
Thanks for the pointer, this solves our issue. Sorry for the duplicate issue :)

[2022-11-07 15:15] #3719 closed

[2022-11-08 13:08] HarryStarLord opened #3738 "ERROR: generating new init bundle: rpc error: code"
While generating init bundle for secured service i recieved the following error.
[code]
The command I ran:
[code]

I dont know what i am doing wrong ??

[2022-11-08 13:15] janisz commented on #3738
Initbundle with name `stackrox-init-bundle` already exists. Could you try creating one with different name?

[2022-11-08 14:16] HarryStarLord commented on #3738
hey @janisz i tried but still the same error, moreover after deleting redeploying whole stackrox, old data keep showing. Whereas it suppose to start fresh

[2022-11-21 12:56] Elyytscha opened #3858 "Removed k8s API's in stackrox resources 3.72.2"
The following resources are removed since k8s v1.21

![image](https://user-images.githubusercontent.com/10408311/203060568-86c054bc-9ea6-454d-a908-5480df11cb70.png)

this should be fixed in my opinion

[2022-11-21 17:36] msugakov commented on #3858
Hi @Elyytscha

We've made updates for PSPs generation, and so it shouldn't happen for newer versions of k8s. The support for PSPs wasn't removed completely though, and in some cases they may be generated.
In order for us to be able to investigate this further, could you please let know how do you deploy StackRox: with Helm charts, with Operator, with `deploy/(k8s|openshift)/deploy.sh`?

Thanks!

[2022-11-21 18:34] msugakov commented on #3858
Also, please check this documentation that describes when PSP generation is in place and how to control that https://docs.openshift.com/acs/3.72/release_notes/372-release-notes.html#psp-changes

[2022-11-22 07:26] msugakov commented on #3858
IIRC, `deploy.sh` (and `deploy-local.sh`) doesn't auto-sense PSPs support therefore you will need to disable generation explicitly. The last command will change to:

[code]

Alternatively, you may try Helm charts deployment (either with [script](https://github.com/stackrox/stackrox/blob/master/README.md#quick-installation-using-helm) or [manual](https://github.com/stackrox/stackrox/blob/master/REA

[2022-11-22 10:38] #3405 closed

[2022-11-22 18:18] #3858 closed

[2022-11-23 10:17] balpert89 opened #3891 "CVE scanning for node in 3.73"
Hi all,

referring to an older [issue](https://github.com/stackrox/stackrox/issues/2676#issuecomment-1242545685) I wanted to check in if it is still planned to reactivate Node Scanning capabilities for CoreOS nodes in 3.73?

Best regards!

[2022-11-24 15:29] albertofilice opened #3905 "UI: timeout of 60000ms exceeded"
in browsing by policy "vulnerability-management/policies" if you try to view the reports of a policy with many violations, for example a policy with 1796 failing deployments, you run into the timeout error

<img width="743" alt="image" src="https://user-images.githubusercontent.com/35273403/203818613-328f5d0c-ba58-4016-8612-2810e9a79118.png">

I think it could be fixed easily by changing the value

[2022-11-24 16:53] stehessel commented on #3905
Hey @albertofilice, thanks for the report and the potential fix. I let our UI experts know to take a look at your suggestion.

[2022-11-30 13:48] dvail commented on #3905
Hello @albertofilice, we've identified a couple of problems with pagination in this section that are leading to the long request time and are looking for potential fixes. The increase in timeout value may work in a pinch, but the issue could reappear as the number of deployments grows.

[2022-11-30 15:29] srikavyakamma opened #3965 "Adding Specific standards to StackRox Other than default standards"
Can we add other standards to the Stack Rox other than default standards like HIPAA, NIST, PCI. If yes what is the process looks like ?